<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{template::template_head}"></head>
<body>
	<header th:replace="~{template::template_header}"></header>
	
	<main>
		<section class="results-section active" id="resultsSection">
	        <div class="container">
	        	<div class="nav">
	        		<div class="path">
	        			<a href="/">Home</a>&nbsp;&nbsp;>>&nbsp;&nbsp;<a th:href="@{/domain/{name}(name=${domain.name})}" th:text="${domain.name}"></a>&nbsp;&nbsp;>>&nbsp;&nbsp;<span th:text="${domainSite.name}"></span>
	        		</div>
	        		<div class="search-container" style="margin:unset;">
	                    <input type="text" class="search-input-small" id="domainInput" placeholder="Enter a domain name (e.g., example.com)" required>
	                    <button class="search-btn search-btn-small" id="searchBtn">
	                        <i class="fas fa-search"></i>
	                        Search
	                    </button>
	                </div>
	        	</div>
	            <div class="results-header">
	                <div>
	                    <h2 class="domain-name">
	                        <i class="fas fa-globe-americas"></i>
	                        <span id="resultDomain" th:text="${domainSite.name}"></span>
	                    </h2>
	                    <p id="lastUpdated">Last updated: [[${domainSite.lastOperateDateText}]]</p>
	                </div>
	                <button class="search-again" id="searchAgain">
	                    <i class="fas fa-redo"></i>
	                    Search Again
	                </button>
	            </div>
	            
	            <div class="ad-container" th:if="${_isProd}">
	            	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7597293740550331" crossorigin="anonymous"></script>
					<!-- 头部横幅 -->
					<ins class="adsbygoogle"
					     style="display:block"
					     data-ad-client="ca-pub-7597293740550331"
					     data-ad-slot="8301467356"
					     data-ad-format="auto"
					     data-full-width-responsive="true"></ins>
					<script>
					     (adsbygoogle = window.adsbygoogle || []).push({});
					</script>
	            </div>
	            
	            <div class="results-grid">
	                <div class="result-card">
	                    <h3><i class="fas fa-info-circle"></i> Domain Information</h3>
	                    <div class="info-row">
	                        <span class="info-label"><i class="fas fa-globe-americas"></i> Domain Name</span>
	                        <span class="info-value"><a th:href="@{/domain/{name}(name=${domain.name})}" th:text="${domain.name}"></a></span>
	                    </div>
	                    <div class="info-row">
	                        <span class="info-label"><i class="fas fa-calendar-plus"></i> Registration Date</span>
	                        <span class="info-value" id="creationDate" th:text="${domain.registCreateDateText}"></span>
	                    </div>
	                    <div class="info-row">
	                        <span class="info-label"><i class="fas fa-calendar-times"></i> Expiration Date</span>
	                        <span class="info-value" id="expiryDate" th:text="${domain.registExpiryDateText}"></span>
	                    </div>
	                </div>
	                
	                <div class="result-card">
	                    <h3><i class="fa-solid fa-globe"></i> DNS</h3>
	                    <div class="info-row" th:each="dns:${dnsList}">
	                        <span class="info-label"><i class="fa-solid fa-clipboard"></i> [[${dns.type}]]</span>
	                        <span class="info-value" th:utext="${dns.displayValue}"></span>
	                    </div>
	                </div>
	                
	            </div>
	            <div class="results-grid">
	            	<div class="result-card" style="grid-column: 1 / span 2;">
	                    <h3><i class="fas fa-earth-americas"></i> Web Server</h3>
	                    <div class="info-row">
	                        <span class="info-label"><i class="fas fa-house"></i> Home Page</span>
	                        <a class="info-value" target="_blank" th:href="${domainSite.homePageUrl}" th:text="${domainSite.homePageUrl}"></a>
	                    </div>
	                    <div class="info-row">
	                        <span class="info-label"><i class="fas fa-server"></i> Server</span>
	                        <span class="info-value" th:text="${domainSite.serverName}"></span>
	                    </div>
	                    <div class="info-row">
	                        <span class="info-label"><i class="fas fa-tag"></i> Page Title</span>
	                        <span class="info-value" th:text="${domainSite.homePageTitle}"></span>
	                    </div>
	                    <div class="info-row">
	                        <span class="info-label"><i class="fas fa-circle-info"></i> Meta Description</span>
	                        <span class="info-value" th:text="${domainSite.homePageMetaDesc}"></span>
	                    </div>
	                </div>
	            </div>
	            
	            <div class="ad-container" th:if="${_isProd}">
	            	<!-- 尾部横幅 -->
					<ins class="adsbygoogle"
					     style="display:block"
					     data-ad-client="ca-pub-7597293740550331"
					     data-ad-slot="5630964188"
					     data-ad-format="auto"
					     data-full-width-responsive="true"></ins>
					<script>
					     (adsbygoogle = window.adsbygoogle || []).push({});
					</script>
	            </div>
	        </div>
	    </section>

	</main>
	
	<footer th:replace="~{template::template_footer}"></footer>
	<script type="text/javascript">
	const searchAgainBtn = document.getElementById('searchAgain');
	searchAgainBtn.addEventListener('click', function(){
		window.location.reload();
	});
	</script>
</body>
</html>